body {
background-color: #f0fff0;
text-align:center;
}
.container {
	max-width: 900px;
	margin: auto;
}
.section {
	margin-bottom:40px;
	background-color:PaleGreen;
}
.section2 {
	margin-bottom:40px;
	background-color:PaleTurquoise;
}
.section3 {
	margin-bottom:40px;
	background-color:Khaki;
}
	